.strate-learn {
    padding-block: 13rem 6rem;
    content-visibility: auto;
    contain-intrinsic-size: auto 800px;


    .list {
        --list-columns: 4;
    }

    //background: transparent url("/assets/img/backgrounds/bg-1.jpg") center center / cover no-repeat;





    background:url("/assets/img/backgrounds/bg-2.jpg") center / cover no-repeat,
    var(--color-bg);
}
