#footer {
    padding: 4rem var(--ctr-offset);
    background-color: var(--color-2);
    color: var(--color-inverse);
    display:flex;
    justify-content: space-between;

    nav{
        ul{
            display: flex;
            gap: 1rem;
        }
    }
}
