.shares ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.shares button {
    cursor: pointer;
border: 1px solid var(--Filets-secondaire, rgba(190, 190, 190, 0.25));
    border-radius: 50%;
}

.shares .tip {
    pointer-events: none;
}

.shares button:not(.is-copied) .tip {
    display: none;
}