.card-news {
    border-top: var(--border);
    padding: 3.2rem 2.4rem 3.2rem 0;

    .card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .card-header {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .source {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    .text {
        line-height: 2.4rem;
    }

    .icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}