.btn {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--color-2);
    color: #fff;
    box-sizing: border-box;
    height: 4.4rem;
    padding: 1.6rem 2.4rem;
    display: inline-flex;
    align-items: center;
    gap: .8rem;
    border-radius: 999px;
    text-align: center;
    white-space: nowrap;

    &[aria-disabled=true] {
        opacity: .5;
    }

    &:hover {
        background: #0090AA;
    }

    .icon {
        height: auto;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &.btn-1 {
        background: var(--color-1);
        color: var(--color-text-invert);
    }
}