.header-nav {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-height: var(--header-height);
    padding-inline: var(--ctr-offset);
    color: #fff;
    z-index: 100;

    .btn-nav {
        display: none
    }

    #nav {
        display: flex;
        gap: 4rem;
    }
}