@property --surface-alpha {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

.card-solution {
    --surface-alpha: 0;
    padding: 3.8rem;
    border-radius: 4.729px;
    border: var(--border);
    background:
        linear-gradient(302deg, rgba(255, 255, 255, 0) 72.88%, rgba(255, 255, 255, 0.10) 100%),
        rgba(255, 255, 255, var(--surface-alpha));
    transition: --surface-alpha .3s ease;

    .card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    .eyebrow {
        margin-bottom: 3.8rem;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4rem;; /* 120% */
        letter-spacing: .2364rem;
    }

    .card-title {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .text {
        line-height: 2.7rem;
        opacity: 0.8;
    }

    .usage {
        padding-top: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        border-top: 1.182px solid rgba(255, 255, 255, 0.20);
        font-size: 1.4rem;
        line-height: 2.3rem;


        .usage-title {
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .icon-blank {
        position: absolute;
        top: 0;
        right: 0;
        transition: color .3s ease;
    }

    &:hover {
        --surface-alpha: 0.07;

        .icon-blank {
            color: var(--color-1);
        }
    }

}
