.strate-platform {
    --nb-platforms: 4;
    height: calc(60vh * var(--nb-platforms));
    background-color: rgba(255, 255, 255, 0.10);

    .sticky {
        position: sticky;
        height: 100vh;
        top: 0;
        grid-column: full;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: var(--gap);
        background: transparent url("/assets/img/backgrounds/backgound_platform.webp") center / cover no-repeat;
        padding-inline: var(--ctr-offset)
    }

    .strate-content {
        .text {
            line-height: 2.6rem;
            opacity: 0.8;
        }

        .list-platforms {
            margin-block: 4rem 3rem;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            li {
                display: flex;
                align-items: center;
                gap: 1.2rem;
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }

        .cta {
            margin-top: 2rem;
        }
    }

    .platforms {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        h3 {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.8rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.8rem;
            letter-spacing: -0.02rem;
        }

        .platform {
            --perone: 0;
            position: relative;
            padding: 1.6rem 2.4rem;
            border-radius: var(--radius);
            border: 1px solid rgba(190, 190, 190, 0.25);
            background: linear-gradient(71deg, rgba(255, 255, 255, 0) 72.88%, rgb(255 255 255 / calc(var(--perone) * 10%)) 100%),
            rgb(255 255 255 / calc(var(--perone) * 10%));

            img {
                width: 100%;
                height: auto;
            }
        }

        .platform-content {
            --height: 0;
            overflow: hidden;
            height: var(--height);
        }

        .platform-content-inner {
            padding-top: 5rem;
        }

        .label {
            display: flex;
            align-items: center;
            height: 3.3rem;
            translate: calc(5rem - (5rem * var(--perone)));

            strong {
                color: var(--color-1)
            }
        }

        .number {
            position: absolute;
            top: 1.6rem;
            left: 2.4rem;
            background-color: rgb(from var(--color-1) r g b / calc(var(--perone) * 100%));
            border: 1px solid var(--color-1);
            color: color-mix(in srgb, #fff, var(--color-bg) calc(var(--perone) * 100%));
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
    }
}
