.strate-hybrid_ai {
    position: relative;

    .strate-content {
        grid-column: fluid;
        grid-row: 1/2;
        position: relative;
        z-index: 3;
    }

    .video {
        width: 80rem;
        height: 49rem;
        aspect-ratio: auto;
        grid-column: fluid;
        grid-row: 1/2;
        z-index: 2;
        justify-self: end;

        video {
            pointer-events: none;
        }

        video::-webkit-media-controls,
        video::-webkit-media-controls-enclosure {
            display: none !important;
        }
    }

    .icon {
        margin-bottom: 4.8rem;
    }

    .text {
        font-size: 8rem;
        line-height: 7.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 4.2rem;

    }

    .subtitle {
        grid-column: fluid;
        font-size: 3rem;
        line-height: 2.8rem;
        font-weight: 700;
        text-transform: uppercase;

    }

    background: linear-gradient(180deg,
        color(display-p3 0 0 0.0902) 4.3%,
        color(display-p3 0 0 0.0902 / 0) 22.57%,
        color(display-p3 0 0 0.0902 / 0) 77.37%,
        color(display-p3 0 0 0.0902) 95.64%),
    url("/assets/img/backgrounds/bg-2.jpg") center / cover no-repeat,
    var(--color-bg);

    background-blend-mode: normal,
    lighten,
    normal;
}