.strate-ai_news {
    --list-columns: 1;
    padding-block: 10rem 6rem;
    content-visibility: auto;
    contain-intrinsic-size: auto 800px;


    background: transparent url("../../img/backgrounds/background_news.webp") 0 0 no-repeat;
    background-size: 100% auto;




    .list {
        --list-gap: 0;
    }
}
