:root {
    color-scheme: light;
    
    --font-1: 'SequelSans', Arial, sans-serif;


    --ctr-width: 135rem;

    --radius: .45rem;
    --shadows: 0 0 0 10px rgba(0,0,0,0.2);

    // surfaces
    --color-bg: #000017;
    --color-border: #D8E0EA;
    --color-overlay: rgba(9, 16, 24, 0.45);
    --color-shadow: rgba(9, 16, 24, 0.16);


    // text
    --color-text: #fff;
    --color-text-invert: #000;

    // gray
    --color-gray-light: #EFF2F8;
    --color-gray: #ccc;
    --color-gray-dark: #ECECEC;

    // brand
    --color-1: #EBDB0C;
    --color-2: #00A0BD;
    --color-3: #EFF2F8;
    --color-4: #EB5B00;
    --color-5: #0055A4;
    --color-6: #009DCC;

    --layout:
        [full] var(--ctr-offset) [fluid ctr ctr-sm center] auto [center-end ctr-sm-end ctr-end fluid-end] var(--ctr-offset) [full-end];
}

:root[data-lightdark="light"] {
    color-scheme: light;
}


@media(--breakpoint-md-down) {
    :root {
        --ctr-offset: 1.6rem;
        --header-height: 7rem;
        --gap: 2rem;

        --margin-xs: 3rem;
        --margin-sm: 4rem;
        --margin-md: 4rem;
        --margin-lg: 6rem;
    }
}

@media (--breakpoint-md-up) {
    :root {
        --ctr-offset: 6rem;
        --header-height: 9rem;
        --gap: 2rem;

        --margin-xs: 2rem;
        --margin-sm: 5rem;
        --margin-md: 8rem;
        --margin-lg: 11rem;

        /* layout avec ctr-sm et center*/
        --ctr-col: calc((var(--ctr-width) - (11) * var(--gap)) / 12 + var(--gap));
        --layout:
            [full] var(--ctr-offset) [fluid] 1fr [ctr-start] var(--ctr-col) [ctr-sm-start] minmax(1vw, calc((var(--ctr-width) - (2 * var(--ctr-col)))/2)) [center] minmax(1vw, calc((var(--ctr-width) - (2 * var(--ctr-col)))/2)) [ctr-sm-end] var(--ctr-col) [ctr-end] 1fr [fluid-end] var(--ctr-offset) [full-end];
    }
}
