.hero-homepage {
    background: var(--color-3);
    color: #fff;

    .hero-content {
        align-self: end;
        grid-row: 1;
        grid-column: fluid;
        z-index: 1;
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        align-items: end;
        gap: 3rem;
        padding-bottom: 12rem;
    }

    .title {
        grid-row: 2;
        grid-column: 1;
    }

    .intro {
        grid-row: 3;
        grid-column: 1;
        font-size: 1.8rem;
        opacity:.8;
        line-height: 3rem;
        padding-block: 1rem;
    }

    .hybrid_ai {
        grid-row: 3;
        grid-column: 2;
        justify-self: end;
        align-self: center;

    }

    .slideshow {
        grid-column: full;
        grid-row: 1;
        height: 100%;
        z-index: 0;
    }

    @media (--breakpoint-md-up) {
        height: 100vh;
    }
}