@property --width {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 100%;
}

.slideshow {
    --slideshow-duration: 700ms;

    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .slideshow-slide {
        grid-area: 1 / 1;
        width: 100%;
        height: 100%;
        --width: 100%;
        clip-path: polygon(0px 0px, var(--width) 0px, var(--width) 100%, 0px 100%);
        transition: --width var(--slideshow-duration) ease, transform var(--slideshow-duration) ease;
    }

    picture {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
