.eyebrow {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .14em;
    line-height: 1.2;
    text-transform: uppercase;

    .icon {
        display: none;
    }

    &.hasicon {
        display: flex;
        gap: 1rem;

        .icon {
            display: inline-block;
        }
    }
}